<div class="p-0" style="height: auto;">
    <div style="display: flex;flex-direction: row;">
        <h2>Sklep z softłerem (TOP PANEL)</h2>
    </div>

    <button routerLink="/adm_dashboard">Panel Administratora</button>

    <div style="display: flex; justify-content: center;">
        <input type="text" [(ngModel)]="this.mainService.productsRequest.name">
        <button (click)="this.mainService.getProducts(this.mainService.productsRequest)" routerLink="/products">Szukaj Produktu</button>
    </div>
    <div>
        <button id="cartBtn" routerLink="/cart">
            {{getCartQuanity()}}
        </button>
    </div>
</div>
