.zdjecieBackground {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 50%;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -900;
}

.zdjecieGlowna {
  width: 100%;
  height: 350px;
  opacity: 50%;
}
